<h1>Arreglos</h1>


<h1>ngFor</h1>
<input type="text" required [(ngModel)] = "newname" />
<button (click)="AgregarNombres()">Add Nombres</button>

<ul>
  <li *ngIf="nombres.length === 0">
    Lista vacia
  </li>
  <li *ngFor="let name of nombres; index as i">{{i}} {{name}}
    <button (click)="deleteUser(i)">Delete</button>
  </li>
  
</ul>

<input type="text" required #numeroInput = "ngModel" [(ngModel)] =  "persona.Nombre"/>
<p *ngIf="persona.Nombre === 'Manuel' ">Nombre: {{persona.Nombre}}</p>
<p *ngIf="persona.Nombre === 'Carlos' ">Nombre: {{persona.Nombre}}</p>

<h1>{{title}}</h1>
<p>Nombre: {{persona.Nombre}}</p>
<input type="text" required #nameImput = "ngModel" [(ngModel)] = "persona.Nombre"/>
<p>valid: {{nameImput.valid}}</p>
<p>Edad: {{persona.edad}}</p>
<input type="number" max="18" min="10" required #ageInput = "ngModel" [(ngModel)] = "persona.edad"/>
<p>valid: {{ageInput.valid}}</p>